fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
langchain
langchain-community
langchain-ollama
langchain-huggingface
chromadb
pypdf
unstructured
sentence-transformers